.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.cam {
  width: 100%;
  height: 180px;
}

.cam iframe,
.cam video {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

body {

  /* Use your target image, scaled down for cursor */
  cursor: url('images/Untitled-4.png') 16 16, auto;
}