.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.cam {
  width: 100%;
  height: 180px;
}

.cam iframe,
.cam video {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
}

body {
  cursor: none; 
}


#custom-cursor {
  position: fixed;
  width: 16px;   
  height: 16px;
  pointer-events: none; 
  z-index: 9999;
  border: 2px solid lime; 
  border-radius: 50%;     
  transform: translate(-50%, -50%);
}

.cam video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer; 
}